%h3 Members
%table#members_table
  %tr
    %th.gravatar 
    %th Name
    %th Email
    %th Status
    %th 
  - @memberships.each do |membership|
    - user = membership.user
    %tr
      %td.gravatar= link_to( image_tag( raw(user.gravatar_url( :size => 35 )), :class => 'gravatar' ), user_path(membership.user) )
      %td.name= link_to( user.name, user_path(membership.user) )
      %td.email= user.email
      %td.status
        - if user == @group.owner
          %strong Owner
        - else
          Member
      %td.actions
        - if can? :destroy, membership
          = link_to "Remove", group_membership_path(@group, membership), :method => :delete, :confirm => "This will permanently delete #{user.name} from this group. Are you sure?"