- title "#{h(@group.name)} : Members", false

%h1 
  = @content_for_title
  .description= h @group.description
  
#members
  - if can? :modify, @group
    = render :partial => "/invitations/new"
      
    =render :partial => "/invitations/pending"

  = render :partial => "/memberships/list"
  
  
- content_for :sidebar do
  = render :partial => "/groups/links"