- preview ||= false
- unless comments.empty?
  .comments
    - comments.each do |comment|
      %div[comment]{ :class => comment_class(comment) }
        .avatar
          = image_tag raw(comment.user.gravatar_url( :size => preview ? 30 : 50 )), :class => 'gravatar'
        .content
          - if can? :modify, comment
            .actions
              %ul.inline
                %li.first= link_to "edit", edit_prayer_comment_path(comment.prayer, comment)
                %li= link_to "delete", prayer_comment_path(comment.prayer, comment), :method => :delete, :confirm => "Are you sure you want to delete this comment?"
          %p.author
          .body= show_comment(comment, preview ? 80 : nil)
          %p.time= "#{comment.user.name} said #{time_ago_in_words(comment.created_at)} ago"
  - if preview
    %ul.links
      %li= link_to "View all Comments", prayer_comments_path(@prayer)
      %li= link_to "Add a Comment", new_prayer_comment_path(@prayer)
- else
  .box
    %p No comments yet...
    %p= link_to "Care to add one?", new_prayer_comment_path(@prayer)