- preview ||= false
- unless comments.empty?
  .comments
    - comments.each do |comment|
      %div[comment]{ :class => comment_class(comment) }
        - if can? :modify, comment
          .actions
            %ul.inline
              %li.first= link_to "edit", edit_prayer_comment_path(comment.prayer, comment)
              %li= link_to "delete", prayer_comment_path(comment.prayer, comment), :method => :delete, :confirm => "Are you sure you want to delete this comment?"
        = image_tag comment.user.gravatar_url( :size => preview ? 30 : 40 ), :class => 'gravatar'
        %p.author
          %span= comment.user.name
          said:
        .body= show_comment(comment, preview ? 80 : nil)
        %p.time= "posted #{time_ago_in_words(comment.created_at)} ago"
  - if preview
    %p= link_to "View all Comments", prayer_comments_path(@prayer)
- else
  .box
    No comments yet...
    = link_to "Care to add one?", new_prayer_comment_path(@prayer)