%h3 Recent Comments
#comment_list
  - unless @recent_comments.empty?
    - @recent_comments.each do |comment|
      %div[comment]{ :class => comment.user == comment.prayer.user ? "update" : "" }
        :textile
          #{comment.body}
        %p.meta
          %span.who= "said #{comment.user.name} #{time_ago_in_words(comment.created_at)} ago"
          - if can? :modify, comment
            (
            = link_to "edit", edit_prayer_comment_path(comment.prayer, comment)
            |
            = link_to "delete", prayer_comment_path(comment.prayer, comment), |
              :method => :delete, |
              :confirm => "Are you sure you want to delete this comment?" |
            )
    %p= link_to "View all Comments", prayer_comments_path(@prayer)
  - else
    No comments yet...