- title "Comments for #{@prayer.title}"
%p= link_to "Back to Prayer", @prayer
#comment_list
  - unless @comments.empty?
    - @comments.each do |comment|
      %div[comment]{ :class => comment.user == comment.prayer.user ? "update" : "" }
        :textile
          #{comment.body}
        %p.who
          = "said #{comment.user.name} #{time_ago_in_words(comment.created_at)} ago"
          - if current_user == comment.user
            = "[#{link_to "edit", edit_prayer_comment_path(comment.prayer, comment)}]"
            = "[#{link_to "delete", prayer_comment_path(comment.prayer, comment), :confirm => 'Are you sure?', :method => :delete}]"
  - else
    No comments yet...