- title can?( :manage, @prayer ) ? "Add an Update" : "Add a New Comment"

%p= link_to "Back to Prayer", @prayer

- semantic_form_for [@prayer, @comment] do |form|
  = form.error_messages
  = render :partial => "inputs", :locals => { :form => form, :is_owner => @is_owner }
  - form.buttons do
    = form.commit_button can?( :manage, @prayer ) ? "Add Update" : "Add Comment"

- desc = can?( :manage, @prayer ) ? "sharing an update" : "commenting"
%h3= "You are #{desc} on the following prayer:"
.box
  :textile
    #{@prayer.body}
    
- content_for :sidebar do
  = render :partial => "/shared/formatting_help"