- title can?( :edit, @prayer ) ? "Add an Update" : "Add a New Comment", :subtitle => "for prayer '#{@prayer.title}'"

%p= link_to "Back to Prayer", @prayer

= semantic_form_for [@prayer, @comment] do |form|
  = form.error_messages
  = render :partial => "inputs", :locals => { :form => form }
  - if Intercession.allowed?(current_user, @prayer)
    = form.inputs do
      = form.input :intercede, :label => "I prayed for this today", :as => :boolean
  = form.buttons do
    = form.commit_button can?( :edit, @prayer ) ? "Add Update" : "Add Comment"

- desc = can?( :edit, @prayer ) ? "sharing an update" : "commenting"
%h3= "You are #{desc} on the following prayer:"
.box= p(@prayer.body)
    
- content_for :sidebar do
  = render :partial => "/shared/formatting_help"
