%ul
  %li= link_to "My Prayer List", prayers_path
  = render :partial => "/shared/links"

%h3= h(@group.name)
%ul
  %li= link_to "View Members", group_memberships_path(@group)
  %li= link_to "View Prayers", @group
  - if can? :modify, @group
    -# %li= link_to "View Invitations", group_invitations_path(@group)
    %li= link_to "Edit this Group", edit_group_path(@group)

- groups = current_user.groups - [@group]
- unless groups.empty?
  %h3 My Groups
  %ul
    - groups.each do |group|
      %li= link_to h(group.name), group