- title "Edit Group"

- semantic_form_for @group do |form|
  = form.error_messages
  = render :partial => "inputs", :locals => { :form => form }
  = form.buttons

%p
  = link_to "Show", group_path(@group)
  |
  = link_to "View All", groups_path
