- title "My Prayer Groups"

= render :partial => "/invitations/pending_message"

- unless @groups.empty?
  .groups
    %table
      - for group in @groups
        %tr
          %td.name
            = link_to h(group.name), group
            .description= h(group.description)
          %td.actions
            - if can? :edit, group
              = link_to "Invite", group_memberships_path(group)
              |
              = link_to 'Edit', edit_group_path(group)
- else
  %p 
    You are not a member of any prayers groups.
    %br
    Would you like to
    = link_to "create one now", new_group_path
    ?
%p= link_to "New Group", new_group_path
