- title "My Prayer Groups"

= render :partial => "/invitations/pending_message"

- unless @groups.empty?
  %table#pretty
    - for group in @groups
      %tr
        %td= h group.name
        %td.actions
          = link_to 'Detail', group
          -if current_user == group.owner
            |
            = link_to "Invite", new_group_invitation_path(group)
            |
            = link_to 'Edit', edit_group_path(group)
- else
  %p 
    You are not a member of any prayers groups.
    %br
    Would you like to
    = link_to "create one now", new_group_path
    ?
%p= link_to "New Group", new_group_path
