- title "My Prayer Groups"

= render :partial => "/invitations/pending_message"

- unless @groups.empty?
  %table
    - for group in @groups
      %tr
        %td.name= link_to h(group.name), group
        %td.actions
          - if can? :edit, group
            = link_to "Invite", new_group_invitation_path(group)
            |
            = link_to 'Edit', edit_group_path(group)
- else
  %p 
    You are not a member of any prayers groups.
    %br
    Would you like to
    = link_to "create one now", new_group_path
    ?
%p= link_to "New Group", new_group_path
