- title "#{@group.name} : #{prayer_title(@view)}", :subtitle => @group.description

= render :partial => "/invitations/pending_message"

= render :partial => "command_bar"

#prayers
  =render :partial => "/prayers/list"
  
- content_for :sidebar do
  = render :partial => "/groups/links"