- title "Group: #{h @group.name}"
%p
  -if current_user == @group.owner
    = link_to "Edit", edit_group_path(@group)
    |
    = link_to "Invite others to join this group", new_group_invitation_path(@group)
    |
    = link_to "Delete this group", @group, :confirm => 'Are you sure?', :method => :delete
    |
  = link_to "View All Groups", groups_path
  
%h2 Members
%table
  %tr
    %th Name
    %th Email
    %th Status
  - @members.each do |user|
    %tr
      %td.name= h user.name
      %td.email= user.email
      %td.status
        - if user == @group.owner
          %strong Owner
        - else
          Member
          
%h2 Recent Prayers
=render :partial => "/prayers/list"

-if current_user == @group.owner
  =render :partial => "/invitations/pending"