- title "Group: #{h @group.name}"

%h2 Members
%table
  - @group.users.each do |user|
    %tr
      %td.name= h user.name
      %td.email= user.email
      %td.status
        - if user == @group.owner
          %strong Owner
        - else
          Member
      
%p= link_to "Invite others to join this group", new_group_invitation_path(@group)

%p
  = link_to "Edit", edit_group_path(@group)
  |
  = link_to "Destroy", @group, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", groups_path
