- title "Your Account"

- semantic_form_for @user, :html => {:id => "account_form"} do |form|
  = form.error_messages :header_message => "Oops - We couldn't update your account."
  - form.inputs :name => "Account" do
    = form.input :first_name
    = form.input :last_name
    = form.input :email, :hint => "Note: This will change your login as well."
    .virtual_input
      = check_box_tag :pwd, 1, false, :onchange => "$('#password_change_area').toggle();"
      %label{ :for => 'pwd' } Change your password
    #password_change_area{ :style => "display:none;" }
      = form.input :password
      = form.input :password_confirmation, :label => "Confirm password"

  %h3 Email Notifications
  -#
    %p.checkbox_selectors
      = link_to_function("Select All", "$('input.group_event').attr('checked', true);")
      \/
      = link_to_function("Select None", "$('input.group_event').attr('checked', false);")
  - form.semantic_fields_for :memberships do |membership|
    - form.inputs :name => membership.object.group.name, :class => "membership" do
      %p In this group, notify me:
      = membership.input :notification_level, :label => false, :as => :radio, :collection => Membership::NOTIFICATION_LEVELS
    -#  
      - form.inputs :name => membership.object.group.name, :class => "membership" do
        = membership.input :notify_on_create, :label => "A new prayer is created", :class => "group_event"
        = membership.input :notify_on_update, :label => "A prayer is commented on, updated, or answered", :class => "group_event"
  
  - form.buttons do
    = form.commit_button "Update Account"
  
    
- content_for :sidebar do
  Edit your profile.
