- if @invitation
  = render :partial => "/invitations/notice"

- title "Sign up"

= semantic_form_for @user do |form|
  = form.error_messages
  = form.inputs do
    = form.input :first_name
    = form.input :last_name
    = form.input :email
    = form.input :password
    = form.input :password_confirmation, :label => "Confirm password"
    = form.input :invitation_token, :as => :hidden
  = form.buttons do
    = form.commit_button "Sign up"

- content_for :sidebar do
  = render :partial => "/shared/about"