- title "Invitations"

%table
  %tr
    %th Group
    %th Recipent email
    %th Sent at
    %th Accepted at
  - for invitation in @invitations
    %tr
      %td= h invitation.group_id
      %td= h invitation.recipent_email
      %td= h invitation.sent_at
      %td= h invitation.accepted_at
      %td= link_to 'Show', invitation
      %td= link_to 'Edit', edit_invitation_path(invitation)
      %td= link_to 'Destroy', invitation, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Invitation", new_invitation_path
