= form.inputs do
  = form.input :title, :hint => "How everyone will see this prayer listed."
  = form.input :praise, :label => "This is a praise (rather than a request)"
  = form.input :body, :label => "Prayer"
      
  = form.input :groups, :as => :check_boxes, :collection => current_user.groups

