- if @prayers.empty?
  .box 
    - if current_user.groups.empty?
      %strong Welcome to prayerthread.org! We're glad you're here.
      %p
        To start out, you'll need to 
        = link_to "create a group", new_group_path
        where you can share your prayers.
    -else
      No prayers here...
      = link_to "Why not add one?", new_prayer_path
- else
  = will_paginate @prayers
  .prayers
    - for prayer in @prayers
      %div[prayer]
        .avatar
          = image_tag prayer.user.gravatar_url( :size => 50 ), :class => 'gravatar', :alt => prayer.user.first_name
        .content
          %h3= link_to h(prayer.title), prayer
          = render :partial => "/prayers/meta", :locals => { :prayer => prayer }
          - if show_detail?
            .full= p(prayer.body)
          - else
            .preview= truncate(prayer.body, :length => 180)
          .actions
            %ul.inline
              %li.first#comment_count= link_to pluralize(prayer.comments_count, "Comment"), prayer_comments_path(prayer)
              - if can? :modify, prayer
                %li= link_to 'Share an Update', new_prayer_comment_path(prayer)
                - unless prayer.answered? || prayer.praise?
                  %li= link_to 'Answered?', answer_prayer_path(prayer)
              - else
                %li= link_to 'Share a Comment', new_prayer_comment_path(prayer)
              - unless @intercessions.include?( prayer.id )
                %li.intercession
                  = link_to "I prayed for this today", new_prayer_intercession_path(prayer), :class => "intercede"

          - if prayer.answered?
            .answer
              %strong Answer:
              = truncate(prayer.answer, :length => 170)

  = will_paginate @prayers