- if @prayers.empty?
  .box 
    - if current_user.groups.empty?
      %strong Welcome to prayerthread.org! We're glad you're here.
      %p
        To start out, you'll need to 
        = link_to "create a group", new_group_path
        where you can share your prayers.
    -else
      No prayers here...
      = link_to "Why not add one?", new_prayer_path
- else
  .prayers
    - for prayer in @prayers
      %div[prayer]
        .actions
          %ul.inline
            %li.first#comment_count= link_to pluralize(prayer.comments_count, "Comment"), prayer_comments_path(prayer)
            - if can? :modify, prayer
              %li= link_to 'Share Update', new_prayer_comment_path(prayer)
              - unless prayer.answered?
                %li= link_to 'Answered?', answer_prayer_path(prayer)
            - else
              %li= link_to 'Share Comment', new_prayer_comment_path(prayer)
        %h3
          = link_to h(prayer.title), prayer, :class => 'prayer_title'
        - if prayer.answered?
          .answered
            %strong Answer:
            = truncate(prayer.answer, :length => 190)
        = image_tag current_user.gravatar_url( :size => 30 ), :class => 'gravatar'
        .preview= truncate(prayer.body, :length => 190)
        = render :partial => "/prayers/meta", :locals => { :prayer => prayer }
            
  = will_paginate @prayers