- if @prayers.empty?
  .box There are no prayers.
- else
  -#
    #prayers
      - for prayer in @prayers
        - if can? :modify, prayer
          .actions
            %ul.inline
              %li.first= link_to 'Edit', edit_prayer_path(prayer)
              %li= link_to 'Delete', prayer, :confirm => 'Are you sure?', :method => :delete, :class => "delete"
        %h3= link_to h(prayer.title), prayer, :class => 'prayer_title'
        .body
          :textile
            #{prayer.body}
        .meta= "updated #{time_ago_in_words(prayer.thread_updated_at)} ago by #{h prayer.name} in #{group_list(prayer)}"

  %table#prayer_list
    %tr
      %th Prayer
      %th Updated
      %th 
    %tr
    - for prayer in @prayers
      %tr
        %td.title
          = link_to h(prayer.title), prayer, :class => 'prayer_title'
          .meta
            %span= truncate(h(prayer.body), :length => 80)
            %br
            = "by #{h prayer.name} in #{group_list(prayer)}"
        %td.updated= "#{time_ago_in_words(prayer.thread_updated_at)} ago"
        %td.actions
          - if can? :modify, prayer
            %ul.inline
              %li.first= link_to 'Edit', edit_prayer_path(prayer)
              %li= link_to 'Delete', prayer, :confirm => 'Are you sure?', :method => :delete, :class => "delete"
            
  = will_paginate @prayers