.meta
  %ul
    %li.first.created
      %strong= link_to prayer.name, prayer.user
      = "created #{time_ago_in_words(prayer.created_at)} ago."
      - if prayer.created_at != prayer.thread_updated_at
        The
        = link_to "last comment or update", prayer_comments_path(prayer)
        = "was #{time_ago_in_words(prayer.thread_updated_at)} ago."