- title "Answering '#{@prayer.title}'"

- if @prayer.praise?
  .box 
    This prayer is a
    %strong praise
    which doesn't require an answer.
- else
  - semantic_form_for @prayer do |form|
    = form.error_messages
    - form.inputs do
      = form.input :answer, :label => "The Answer", :hint => "This is how other's will see this prayer has been answered."
    - form.buttons do
      = form.commit_button "Save Answer"
  
%ul.inline
  %li.first= link_to "Show", prayer_path(@prayer)
  %li= link_to "View All", prayers_path
  
%h2 Original Prayer
.box= p(@prayer.body)

- content_for :sidebar do
  = render :partial => "/shared/formatting_help"