- title "Edit Prayer"
.box
  %p
    Would you like to 
    = link_to "share an update", new_prayer_comment_path(@prayer)
    or
    = link_to "how this prayer has been answered", answer_prayer_path(@prayer)
    ?
  %p 
    %strong This pages should only be used to correct the original prayer request or change its groups.

= semantic_form_for @prayer do |form|
  = form.error_messages
  = render :partial => "inputs", :locals => { :form => form }
  = form.buttons
  
%ul.inline
  %li.first= link_to "Show", prayer_path(@prayer)
  %li= link_to "View All", prayers_path


- content_for :sidebar do
  = render :partial => "/shared/formatting_help"