- title "Edit Prayer"
.box
  To mark this prayer as answered, 
  = link_to "create an update", new_prayer_comment_path(@prayer)
  \.

- semantic_form_for @prayer do |form|
  = form.error_messages
  = render :partial => "inputs", :locals => { :form => form }
  = form.buttons
  
%ul.inline
  %li.first= link_to "Show", prayer_path(@prayer)
  %li= link_to "View All", prayers_path


- content_for :sidebar do
  = render :partial => "/shared/formatting_help"