- title prayer_title(@view), :show => false
-#
  .menu
    %ul#views
      %li.first{ :class => (@view == :all ? 'selected' : '') }= link_to "All", prayers_path
      %li{ :class => (@view == :open ? 'selected' : '') }= link_to "Open", prayers_path( :view => 'open')
      %li{ :class => (@view == :answered ? 'selected' : '') }= link_to "Answered", prayers_path( :view => 'answered')
      %li{ :class => (@view == :praise ? 'selected' : '') }= link_to "Praises", prayers_path(:view => 'praise')
= form_tag prayers_path, :method => :get do
  .command_bar
    = select_tag :view, options_for_select(Prayer::VIEWS.map{ |v| [v.to_s.humanize, v] }, @view)
    %ul
      %li= link_to "New Prayer", new_prayer_path

- if @prayers.empty?
  No prayers here...
  -# = link_to "Why not add one?", new_prayer_path
- else
  %ul.prayers
    - for prayer in @prayers
      %li[prayer]
        -# .actions
          %ul.inline
            %li.first#comment_count= link_to pluralize(prayer.comments_count, "Comment"), prayer_comments_path(prayer)
            - if can? :modify, prayer
              %li= link_to 'Share Update', new_prayer_comment_path(prayer)
              - unless prayer.answered? || prayer.praise?
                %li= link_to 'Answered?', answer_prayer_path(prayer)
            - else
              %li= link_to 'Share Comment', new_prayer_comment_path(prayer)
        %a{ :href => prayer_path(prayer) }
          .next= image_tag 'iui/listArrow.png'
          .avatar= image_tag raw(prayer.user.gravatar_url(:size => 35)), :alt => prayer.user.first_name
          %strong= prayer.title
          |
          %span.author= prayer.user.first_name
          .preview
            %span.date= prayer.created_at.strftime("%b %d") 
            = truncate(prayer.body, :length => 100)
          
  = will_paginate @prayers