- title prayer_title(@view)

= render :partial => "/invitations/pending_message"

= render :partial => "list"

- content_for :sidebar do
  %ul.views.links
    %li{ :class => (@view == :all ? 'selected' : '') }= link_to "All Prayers", prayers_path
    %li{ :class => (@view == :open ? 'selected' : '') }= link_to "Open Prayers", prayers_path( :view => 'open')
    %li{ :class => (@view == :answered ? 'selected' : '') }= link_to "Answered Prayers", prayers_path( :view => 'answered')
    %li{ :class => (@view == :praise ? 'selected' : '') }= link_to "Praises", prayers_path( :view => 'praise')
  
  %ul.links
    = render :partial => "/shared/links"
  
  - unless current_user.groups.empty?
    %h3 My Groups
    %ul.links
      - current_user.groups.each do |group|
        %li= link_to h(group.name), group