- title "New Prayer"

- semantic_form_for @prayer do |form|
  = form.error_messages
  = render :partial => "inputs", :locals => { :form => form }
  = form.buttons
  
%p= link_to "Back to List", prayers_path

- content_for :sidebar do
  = render :partial => "/shared/formatting_help"