- title h(@prayer.title)
- if @prayer.answered?
  .answered This prayer has been answered!
.box
  :textile
    #{@prayer.body}
    
%p.strong
  - if can?( :edit, @prayer )
    = link_to "Add an update on this prayer", new_prayer_comment_path(@prayer)
  - else
    = link_to "Add a comment or encouragement regarding this prayer", new_prayer_comment_path(@prayer)

%p
  Created
  = time_ago_in_words(@prayer.created_at)
  ago by
  %strong= h @prayer.name
  %br  
  Shown in
  = group_list(@prayer)

%ul.inline
  %li.first= link_to "Back to Prayer List", prayers_path
  - if can?( :edit, @prayer )
    %li= link_to "Edit", edit_prayer_path(@prayer)
  - if can?( :destroy, @prayer )
    %li= link_to "Delete", @prayer, :method => :delete,                                            |
      :confirm => 'Are you sure? This will permanently delete this prayer and all it\'s comments.' |
  
- content_for :sidebar do
  = render :partial => "/comments/recent"