- title h(@prayer.title)
%p= h @prayer.body

%p
  %strong= "by #{h @prayer.name}"

%p
  = link_to "Edit", edit_prayer_path(@prayer)
  |
  = link_to "Destroy", @prayer, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", prayers_path
