- title h(@prayer.title)
- if @prayer.answered?
  .answered This prayer has been answered!
.box
  :textile
    #{@prayer.body}
%p
  Created
  = time_ago_in_words(@prayer.created_at)
  ago by
  %strong= h @prayer.name
  %br  
  Shown in
  = group_list(@prayer)

%p
  - if can?( :manage, @prayer )
    = link_to "Add an Update", new_prayer_comment_path(@prayer)
    |
    = link_to "Edit", edit_prayer_path(@prayer)
    |
    = link_to "Delete", @prayer, :method => :delete, |
      :confirm => 'Are you sure? This will permanently delete this prayer and all it\'s comments.' |
    |
  - else
    = link_to "Add a Comment or Encouragement", new_prayer_comment_path(@prayer)
    |    
  = link_to "View All", prayers_path
  
- content_for :sidebar do
  = render :partial => "/comments/recent"