- title h(@prayer.title)
.box
  :textile
    #{@prayer.body}
%p
  Last updated
  = time_ago_in_words(@prayer.updated_at)
  ago by
  %strong= h @prayer.name
  %br  
  Shown in
  = group_list(@prayer)

%p
  - if can?( :manage, @prayer )
    = link_to "Add an Update", new_prayer_comment_path(@prayer)
    |
    = link_to "Edit", edit_prayer_path(@prayer)
    |
    = link_to "Destroy", @prayer, :confirm => 'Are you sure?', :method => :delete
    |
  - else
    = link_to "Add a Comment or Encouragement", new_prayer_comment_path(@prayer)
    |    
  = link_to "View All", prayers_path
  
- content_for :sidebar do
  = render :partial => "/comments/recent"