.prayer
  - title @prayer.title
  %p.author
    by
    = @prayer.name
    on
    = @prayer.created_at.strftime('%b %d, %Y')
  .section
    .avatar= image_tag raw(@prayer.user.gravatar_url), :alt => @prayer.user.first_name
    - if @prayer.answered?
      .answer
        %p
          %strong This prayer has been answered!
        = simple_format(@prayer.answer)
    = simple_format(@prayer.body)
    %br{ :clear => "both" }
  - unless @comments.empty?
    - @comments.each do |comment|
      .section
        %p.posted
          %strong= comment.user.name
          = distance_of_time_in_words(comment.created_at, @prayer.created_at)
          later
        .avatar= image_tag raw(comment.user.gravatar_url(:size => 45)), :alt => comment.user.first_name
        = simple_format(comment.body)
        %br{ :clear => "both" }
  %p.back
    &larr;
    = link_to "Back to Prayers", prayers_path
    - if can? :intercede, @prayer
      |
      = link_to "I prayed for this today", new_prayer_intercession_path(@prayer), :class => "intercede"

  %h3{ :id => "new_comment" }== Add a new #{comment_type}
  #comment_form
    = form_for [@prayer, @comment] do |f|
      %p
        = f.label :body, can?( :edit, @prayer ) ? "Your Update" : "Your Comment or Encouragement"
        %br
        = f.text_area :body, :rows => 3
      %p= f.submit "Add #{comment_type}"