- title @prayer.title
.prayer
  .body{ :style => "padding: 1em 0" }
    .avatar= image_tag @prayer.user.gravatar_url, :class => 'gravatar'
    .content
      - if @prayer.answered?
        .answer
          .actions= link_to "Edit Answer", answer_prayer_path(@prayer)
          %p
            %strong This prayer has been answered!
          = p(h(@prayer.answer))
      - unless @has_intercession
        .intercession= link_to "I prayed for this today", new_prayer_intercession_path(@prayer), :class => "intercede"
      = p(h(@prayer.body))
      = render :partial => "meta", :locals => { :prayer => @prayer }
  .action_area
    %ul.inline
      - if can?( :edit, @prayer )
        %li.first= link_to "Share an Update", new_prayer_comment_path(@prayer)
        - unless @prayer.answered? || @prayer.praise?
          %li= link_to "Mark as Answered", answer_prayer_path(@prayer)
      - else
        %li.first= link_to "Add a comment or encouragement for this prayer", new_prayer_comment_path(@prayer)
      - if can?( :edit, @prayer )
        %li= link_to "Edit the Original Prayer", edit_prayer_path(@prayer)
      - if can?( :destroy, @prayer )
        %li= link_to "Permanently Delete", @prayer, :method => :delete,                    |
          :confirm => 'Are you sure? This will permanently delete this prayer and all it\'s comments.' |

  %ul.inline
    %li.first= link_to "&larr; Back to my Prayer List", prayers_path

  
- content_for :sidebar do
  = render :partial => "/comments/recent"