- title "Activity", :subtitle => "Who's Praying for You..."

= render :partial => "/invitations/pending_message"

= render :partial => "list"

- content_for :sidebar do  
  %ul.links
    %li= link_to "View My Prayer List", prayers_path
    = render :partial => "/shared/links"
  
  / .intercessions
  /   = render :partial => "/intercessions/recent"
  
  - unless current_user.groups.empty?
    %h3 My Groups
    %ul.links
      - current_user.groups.each do |group|
        %li= link_to h(group.name), group