- if signed_in?
  = link_to( current_user.invitations.pending.count, invitations_path, :class => 'pending_invitation_count')
  = "Welcome #{current_user.name}! Not you?"
  = link_to "Sign out", sign_out_path
- else
  = link_to "Sign up", sign_up_path
  or
  = link_to "Sign in", sign_in_path