- if signed_in?
  %ul.inline
    %li.first
      = image_tag current_user.gravatar_url( :size => 20 ), :alt => current_user.first_name
      ="Welcome #{current_user.first_name}!"
    %li
      = link_to "Invites", invitations_path
      = link_to(current_user.invitations.pending.count, invitations_path, :class => 'pending_invitation_count')
    %li= link_to "My Account", account_path
    %li= link_to "Help", help_path
    %li= link_to "Sign Out", sign_out_path
- else
  = link_to "Sign Up", sign_up_path
  or
  = link_to "Sign In", sign_in_path