!!! Strict
%html{html_attrs}
  %head
    %title
      = "PrayerThread :: #{h(yield(:title))}"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'compiled/screen', :media => "screen, projection"
    = stylesheet_link_tag 'compiled/print', :media => "print"
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie', :media => "screen, projection"
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.custom.min', 'jquery.autocomplete.min', 'application', :cache => true
    = javascript_include_tag "http://cdn.jquerytools.org/1.2.3/tiny/jquery.tools.min.js"
    = yield(:head)
  %body
    #container
      #header
        #context
          = render :partial => "/layouts/context"
        #title= link_to "prayer<span class=\"alt\">thread</span>", root_path
        - if signed_in?
          #menu
            = render :partial => "/layouts/menu"
            
        - if show_title?
          %h1
            =h yield(:title)
            - if show_subtitle?
              .subtitle=h yield(:subtitle)
              
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}", :class => name

      #content
        = yield

      #sidebar
        = yield(:sidebar)
        
      #footer 
        Copyright &copy;2010 
        = link_to "sourcescape.com", "http://sourcescape.com", :target => "_blank"
        &bull;
        We're interested in your feedback! 
        = mail_to "prayerthread@googlegroups.com", "Drop us a note"
        and let us know what you think.
    
    - if Rails.env.production?
      = render :partial => "shared/uservoice"